html
  head
    meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
    title= subject
    body
      h1.h1 #{userName}'s Program A1 Report
      h3.h3 Email: #{userEmail}
      h3.h3 Start Date: #{userDate}
      h3.h3 Finish Date: #{userEndDate}

      table(style='font-family: arial; border-collapse: collapse')
        tr
          th 
          th WEEK 1
          th WEEK 2
          th WEEK 3
          th WEEK 4
        tr(style='background-color:lightgrey')
          th(style='text-align:left') DAY 1: Upper Body Flexibility
          td(style='padding: 10px') #{w1d1UBC}  
          td(style='padding: 10px') #{w2d1UBC}  
          td(style='padding: 10px') #{w3d1UBC}  
          td(style='padding: 10px') #{w4d1UBC}  
        tr
          th(style='text-align:left') DAY 1: Lower Body Strength
          td(style='padding: 10px') #{w1d1LBC}
          td(style='padding: 10px') #{w2d1LBC}
          td(style='padding: 10px') #{w3d1LBC}
          td(style='padding: 10px') #{w4d1LBC}
        tr(style='background-color:lightgrey')
          th(style='text-align:left') DAY 2: Aerobic 
          td(style='padding: 10px') #{w1d2AL} #{w1d2AE}
          td(style='padding: 10px') #{w2d2AL} #{w2d2AE}
          td(style='padding: 10px') #{w3d2AL} #{w3d2AE}
          td(style='padding: 10px') #{w4d2AL} #{w4d2AE}
        tr
          th(style='text-align:left') DAY 3: Core
          td(style='padding: 10px') #{w1d3Ab}
          td(style='padding: 10px') #{w1d3Ab}
          td(style='padding: 10px') #{w1d3Ab}
          td(style='padding: 10px') #{w1d3Ab}
        tr(style='background-color:lightgrey')
          th(style='text-align:left') DAY 5: Upper Body Strength
          td(style='padding: 10px') #{w1d5UBC}
          td(style='padding: 10px') #{w2d5UBC}
          td(style='padding: 10px') #{w3d5UBC}
          td(style='padding: 10px') #{w4d5UBC}
        tr
          th(style='text-align:left') DAY 5: Lower Body Flexibility
          td(style='padding: 10px') #{w1d5LBC}
          td(style='padding: 10px') #{w2d5LBC}
          td(style='padding: 10px') #{w3d5LBC}
          td(style='padding: 10px') #{w4d5LBC}
        tr(style='background-color:lightgrey')
          th(style='text-align:left') DAY 6: Aerobic
          td(style='padding: 10px') #{w1d6AL} #{w1d6AE}
          td(style='padding: 10px') #{w2d6AL} #{w2d6AE}
          td(style='padding: 10px') #{w3d6AL} #{w3d6AE}
          td(style='padding: 10px') #{w4d6AL} #{w4d6AE}



      